/* Colores usados: #FDDBBD, #F2D0AB, #C9A568, #B0B0B0, #C9A568 y #DDDDDD 
Propiedades de Texto necesarias:
	font-family: sans-serif; 
  	text-align: justify, center,....;
	font-size: 150%,300%,....; 
  	font-style: normal,oblique,italic....;
	text-transform: uppercase,lowercase,....; 

 */

*{background-color:#FDDBBD}

h1{text-align:center;
text-transform:uppercase;
color:#B0B0B0
}

p:first-letter { 
  color: #C9A568; 
  font-size: 300%; 
  font-style: normal;
}

h3{
color:#DDDDDD
}
