html{box-sizing: border-box}
*{margin: 0; padding: 0; box-sizing: inherit;}
body{
  height: 100vh;
}
h2{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3em;
  background: url(../imagenes/fondo1.jpg);
  height: 120px;
  line-height:120px
}

#menu{
  height: 30px;
  background: url(../imagenes/boton-menu.jpg);
  width: 100%;
}

#menu ul{
  width:40%; 
  margin:0 auto; 
  list-style: none;
  overflow: hidden;
}

#menu ul li{
  width: 25%;
  float: left;
}

#menu ul li a{
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  line-height: 30px;
}

#menu ul li:hover{
  color: black;
  list-style: none;
  background: url(../imagenes/boton-menu2.jpg);
}
a{
 background: url(../imagenes/flecha_inactiva.png) no-repeat 0.5em center;
}

a:hover{
  background: url(../imagenes/flecha_activa.png) no-repeat 0.5em center;
}

#izquierda{
	width: 25%;
	float: left;
	padding: 1%;
  height: 100%;
  background-color: rgb(238, 238, 238);
}

#formulario{
	border-left: 1px solid grey;
	width: 75%;
	padding: 1%;
  float: left;
  position: relative;
  height: 100%;
}

.centro{
	border-top: 1px solid lightgrey;
	padding: 1% 0;
  position: relative;
  overflow: hidden;
}

.division{
  float: left;
  width: 35%;
  text-align: right;
  padding-right: 1%;
}

#botones{
  float: left;
  width: 49%;
}
.acepto{
margin-bottom: 10px;
}

h3, h4{padding-bottom: 20px;}

input[type="text"]{
  width: 20.7em;
}

#pie{
  position: absolute;
  bottom: 0%;
  width:100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

#contenedor{
  height: 100%;
}

.division label{font-weight: bold}
