*{margin:0; padding:0; box-sizing: border-box;}
.cuadrado_grande{
  float:left;
  width:50%;
  height:100%;
  border:1px solid black;
}

.pequeño{
  position:relative;
  float:left;
  width:31.3%;
  height:31.3%;
  border:1px solid black;
  margin:1%;
  font-size: 40;
}

body{
  width:96%;
  height:98%;
  margin:1% 2%;
}

p{
  position: absolute;
  top:40%;
  left:45%;
}

#none{display: none}
#hidden{visibility: hidden}
