*{margin: 0; padding: 0}
ul{margin: 1.5em; border: 1px solid black; width: 180px;}
ul li a{list-style: none; padding: 0.5em; display: block; text-decoration: none;}
ul li:hover{background-color: #ccc}
